<section id="about">
  <div class="grid about">
    <div class="columns-12">
      <h2>About</h2>
      <hr />
    </div>
  </div>
  <div class="grid about">
    <div class="columns-12">
        <img class="profile-image" src="assets/images/about-image.jpg" alt="Profile Image" />
    </div>
    </div>
    <div class="grid about">
    <div class="columns-12">
        <p class="about-text">When I was a kid, I would get in trouble for taking things apart, just to learn how they worked. This worked out in my favor when I asked for a computer for my 13th birthday. I was met with a stern "No", but pleasantly surprised when a computer was waiting for when I arrived home on that awesome day.
        This started my addiction to technology and I began taking as many technology related courses from middle school into high school.</p>
        <p class="about-text">When the time came to go to college and choose a major, the field was obvious, but what segment of technology did I like best?
        Inititially I explored software development, teaching myself C# to start.</p>
       <p class="about-text">Eventually, I was asked to build a website for a friend and began exploring the world of web development and realized this was where I wanted to be. At the time, I was working
       a technical lead for a local IT Services company and after noticing my enthusiasm for ASP.NET Development, I was lucky enough to be involved in some SharePoint development projects.</p>
       <p class="about-text">I began approacing small businesses and non-profits, offering to build free websites to help build my portfolio, and quickly began building skills while helping my local
       community.</p>
       <p class="about-text">I am now working as an ASP.NET Web Developer for an E-Commerce company in Portland, OR.</p>
    </div>
  </div>
</section>
