<footer>
  <div class="grid">
  <div class="columns-12">
<a href="https://www.linkedin.com/in/brandon-cranmore-5b33b653" target="_blank"><span><i class="fa fa-linkedin"></i></span></a>
<a href="https://twitter.com/becandoo" target="_blank"><span><i class="fa fa-twitter"></i></span></a>
<a href="https://github.com/becandoo" target="_blank"><span><i class="fa fa-github"></i></span></a>
<a href="http://codepen.io/becandoo/" target="_blank"><span><i class="fa fa-codepen"></i></span></a>
<a href="http://stackoverflow.com/users/2930669/becandoo?tab=profile" target="_blank"><span><i class="fa fa-stack-overflow"></i></span></a>
<a href="mailto:brandoncranmore@gmail.com?Subject=Portfolio%20Contact", target="_top"><span><i class="fa fa-envelope"></i></span></a>
  </div>
  </div>
  <div class="grid">
  <div class="columns-12">
    <p>&copy 2015 - Brandon Cranmore</p>
  </div>
  </div>
</footer>
