<section id="showcase">
<div class="grid showcase">
  <div class="columns-12">
    <h2>portfolio</h2>
    <hr />
  </div>
</div>
<div class="grid showcase-images">
  <div class="columns-3">
      <a href="http://squealershickorysmokedbbq.com"><img src="assets/images/projects/squealers.jpg" alt=""></a>
      <h4>Squealer's Hickory Smoked BBQ</h4>
  </div>
  <div class="columns-3">
      <a href="http://thecolefamilytogetherforbetter.com"><img src="assets/images/projects/tfbt.jpg" alt=""></a>
      <h4>Together for Better</h4>
  </div>
  <div class="columns-3">
      <a href="http://becandoo.github.io/acajunlife/"><img src="assets/images/projects/acajunlife.png" alt=""></a>
      <h4>A Cajun Life</h4>
  </div>
  <div class="columns-3">
      <a href="http://becandoo.github.io/shufle"><img src="assets/images/projects/shufle-logo.png" alt=""></a>
      <h4>Shufle</h4>
  </div>
</div>
</section>
