<section id="skills">
<div class="grid skills">
  <div class="columns-12">
    <h2>Technical Skills</h2>
    <hr />
  </div>
  </div>
<div class="grid">
  <div class="columns-2">
  <div class="chart" data-percent="80">HTML5</div>
  </div>
  <div class="columns-2">
  <div class="chart" data-percent="60">CSS3</div>
</div>
<div class="columns-2">
  <div class="chart" data-percent="60">SASS</div>
</div>
<div class="columns-2">
  <div class="chart" data-percent="65">jQuery</div>
</div>
<div class="columns-2">
  <div class="chart" data-percent="40">Angularjs</div>
</div>
<div class="columns-2">
  <div class="chart" data-percent="70">Grunt</div>
</div>
</div>
<div class="grid">
  <div class="columns-2">
  <div class="chart" data-percent="60">NodeJS</div>
</div>
<div class="columns-2">
    <div class="chart" data-percent="60">C#</div>
  </div>
  <div class="columns-2">
  <div class="chart" data-percent="40">MVC</div>
</div>
<div class="columns-2">
  <div class="chart" data-percent="70">Webforms</div>
</div>
<div class="columns-2">
  <div class="chart" data-percent="30">SignalR</div>
</div>
<div class="columns-2">
  <div class="chart" data-percent="40">SQL</div>
</div>
</div>
</section>

<!--
<div class="container">
  <div class="chart" data-percent="80">HTML5</div>
  <div class="chart" data-percent="30">CSS3</div>
  <div class="chart" data-percent="60">SASS</div>
  <div class="chart" data-percent="50">jQuery</div>
  <div class="chart" data-percent="11">AngularJS</div>
    <div class="chart" data-percent="20">C#</div>
  <div class="chart" data-percent="30">NodeJS</div>
  <div class="chart" data-percent="60">MVC</div>
</div> -->
