---
title: Home
heading: 'Brandon Cranmore'
lead:
---
{{> intro}}

    <!-- Skills start -->

    <section class="pfblock pfblock-gray" id="skills">
		{{> skills}}
    </section>
	<section id="portfolio" class="pfblock">
		{{> portfolio}}
	</section>
	<section class="calltoaction">
	    {{> calltoaction}}
	</section>
	<section id="contact" class="pfblock">
		{{> contact}}
	</section>

    <!-- Scroll to top -->

    <div class="scroll-up" style="display: block;">
        <a href="#home"><i class="fa fa-angle-up"></i></a>
    </div>	