@import url(https://fonts.googleapis.com/css?family=Oswald:700);

header {
  background-color: #212123;
  height: 80vh;
  padding: 10px;
  .row {
  width: 100%;
  max-width: 100%;
  }
  p {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    line-height: 60%;
    }
  }

.header-intro {
  text-align: center;
  width: 100%;
}

.blue {
  color: #3095A7;
}

.green {
  color: #82b548;
}

.profile-image {
  height: 120px;
  width: 120px;
  margin: 0 auto;
  display: block;
  border-radius: 100px;
  margin-top: 100px !important;
}

@media screen and (min-width: 769px) {
  header {
    padding: 20px;
    height: 700px;

  p {
    font-size: 140px;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    line-height: 90%;
  }
  .header-intro {
    width: 90%;
    padding-top: 20px;
  }
  }
  .profile-image {
    height: 150px;
    width: 150px;
    margin-top: 0px !important;
    }
}
