section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color:  #FFF;
  height: 70vh;
  &:nth-of-type(2n) {
  background-color: #DADCE5;
  }
  h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 200%;
        font-family: 'Raleway';
  }
  h4 {
    margin-top: 1em;
    font-weight: 500;
    font-size: 90%;
        font-family: 'Raleway';
  }
}
