 ---
component: calltoaction
---

        <div class="container">
            <div class="row">
                <div class="large-12 large-12 columns">
                    <h2 class="wow slideInRight animated" data-wow-delay=".1s" style="visibility: visible; -webkit-animation-delay: 0.1s;">ARE YOU READY TO START?</h2>
                    <div class="calltoaction-decription wow slideInRight animated" data-wow-delay=".2s" style="visibility: visible; -webkit-animation-delay: 0.2s;">
                        I'm available for freelance projects.
                    </div>
                </div>
                <div class="medium-12 large-12 columns calltoaction-btn wow slideInRight animated" data-wow-delay=".3s" style="visibility: visible; -webkit-animation-delay: 0.3s;">
                    <a href="#contact" class="btn btn-lg">Hire Me</a>
                </div>
            </div><!-- .row -->
        </div><!-- .container -->