---
component: intro
---	
	<!-- Preloader -->

	<div id="preloader">
		<div id="status"></div>
	</div>

	<!-- Home start -->

	<section id="home" class="pfblock-image screen-height">
		<div class="intro">
			<div class="start"><h1>Brandon Cranmore</h1></div>
			<h3 class="intro-title">Web Developer | UX/UI Designer</h3>	
		</div>
		
   		<div class="home-overlay"></div>
        <a href="#skills">
		<div class="scroll-down">
            <span>
              <i class="fa fa-angle-down fa-2x"></i>
            </span>
		</div>
        </a>
	</section>