---
component: portfolio
---

 <div class="container">
            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <div class="pfblock-header wow fadeInUp animated" style="visibility: visible;">
                        <h2 class="pfblock-title">My Projects</h2>
                        <div class="pfblock-line"></div>
                        <div class="pfblock-subtitle">
                            A website should tell a story.
                        </div>
                    </div>

                </div>

            </div><!-- .row -->


            <div class="row">

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="grid wow zoomIn animated" style="visibility: visible;">
                        <figure class="effect-bubba">
                            <a href="http://squealershickorysmokedbbq.com" target="_blank"><img class="img img-responsive portfolio-image" src="assets/images/projects/slide-1.jpg"></a>
                        </figure>
                        <h3>Squealer's <span>BBQ</span></h3>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">

                    <div class="grid wow zoomIn animated" style="visibility: visible;">
                        <figure class="effect-bubba">
                            <a href="http://thecolefamilytogetherforbetter.com" target="_blank"><img class="img img-responsive portfolio-image" src="assets/images/projects//photo_1.jpg"></a>
                        </figure>
                        <h3>Together for <span>Better</span></h3>
                    </div>


                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">

                    <div class="grid wow zoomIn animated" style="visibility: visible;">
                        <figure class="effect-bubba">
                            <a href="http://kicdevelopment.brandoncranmore.com" target="_blank"><img class="img img-responsive portfolio-image" src="assets/images/projects/KIC_LOGO_NO_TEXT_LARGE.png"></a>
                        </figure>
                        <h3>KIC <span>Engineering</span></h3>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">

                    <div class="grid wow zoomIn animated" style="visibility: visible;">
                        <figure class="effect-bubba">
                            <a href="http://www.pinchvid.com" target="_blank"><img class="img img-responsive portfolio-image" src="assets/images/projects/portfolio_image.png"></a>
                        </figure>
                        <h3>Pinch!<span></span></h3>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <div class="pfblock-header wow fadeInUp animated" style="visibility: visible;">
                        <h2 class="pfblock-title">Coming Soon</h2>
                        <div class="pfblock-line"></div>
                              <div class="pfblock-subtitle">
                            These projects are currently in development.
                        </div>
                    </div>

                </div>

            </div><!-- .row -->


            <div class="row">

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="grid wow zoomIn animated" style="visibility: visible;">
                        <figure class="effect-bubba">
                            <a href="#" target="_blank"><img class="img img-responsive portfolio-image" src="assets/images/projects/shufle_logo.png"></a>
                        </figure>
                        <h3>Shufle</h3>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">

                    <div class="grid wow zoomIn animated" style="visibility: visible;">
                        <figure class="effect-bubba">
                            <a href="#" target="_blank"><img class="img img-responsive portfolio-image" src="assets/images/projects/fgbw_logo.png"></a>
                        </figure>
                        <h3>Friends of Grant <span>Butte Wetlands</span></h3>
                    </div>


                </div>

                <!--<div class="col-xs-12 col-sm-4 col-md-3">

                    <div class="grid wow zoomIn animated" style="visibility: visible;">
                        <figure class="effect-bubba">
                            <a href="http://kicdevelopment.brandoncranmore.com" target="_blank"><img class="img img-responsive portfolio-image" src="http://kicdevelopment.brandoncranmore.com/img/portlandor.jpg"></a>
                        </figure>
                        <h3>KIC <span>Engineering</span></h3>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">

                    <div class="grid wow zoomIn animated" style="visibility: visible;">
                        <figure class="effect-bubba">
                            <a href="http://www.pinchvid.com" target="_blank"><img class="img img-responsive portfolio-image" src="http://www.pinchvid.com/img/portfolio_image.png"></a>
                        </figure>
                        <h3>Pinch! <span></span></h3>
                    </div>

                </div>-->


            </div>


        </div><!-- .container -->