header#header
  label(for='toggle')
    .menu-icon-container
      .menu-icon
        .menu-global.menu-top
        .menu-global.menu-middle
        .menu-global.menu-bottom
  div.grid
    div.columns-12
      img.profile-image(src="assets/images/profile-img.png")
  div.grid.header-intro
    div.columns-12
      p.blue BRANDON
      p.blue CRANMORE
  div.grid.header-intro
    div.columns-12
      p.green WEB DEVELOPER
