input#toggle(type='checkbox')
nav.main-nav-container(role='navigation')
  ul.main-nav
    li
      a(href='#header') Home
    li
      a(href='#about') About
    li
      a(href='#skills') Skills
    li
      a(href='#showcase') Portfolio
    li
      a(href='#contact') Contact
