.switchin
  a(href='https://www.linkedin.com/in/brandon-cranmore-5b33b653', target='_blank')
    i.fa.fa-linkedin
  a(href='https://twitter.com/becandoo', target='_blank')
    i.fa.fa-twitter
  a(href='https://github.com/becandoo', target='_blank')
    i.fa.fa-github
  a(href='http://codepen.io/becandoo/', target='_blank')
    i.fa.fa-codepen
  a(href='http://stackoverflow.com/users/2930669/becandoo?tab=profile', target='_blank')
    i.fa.fa-stack-overflow
  a(href='mailto:brandoncranmore@gmail.com?Subject=Portfolio%20Contact', target='_top')
    i.fa.fa-envelope
